.odd{
    background-color: rgb(223, 128, 128);
    font-family: Verdana, DejaVu Sanas, sans-serif;
}
.new{
    background-color: rgb(223, 128, 128);
    font-family: Verdana, DejaVu Sanas, sans-serif;
    font-size: 24px;
}

#second{
    color: rgb(42, 42, 238);
    font-size: 36px;
}

#fourth{
    background-color: rgb(145, 184, 145);
    font-size: 24px;
    font-weight: 32px;
}