/* Add CSS Styling */
.btn-one, .btn-two{
    font-size: 28px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
}

.btn-one {
    background-color: black;
    color: white;
}

.btn-two {
    background-color: yellow;
}
